<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('home')}}" method="POST">
        <h2>one:</h2><input type="number" name="a">
        <h2>two:</h2><input type="number" name="b">
        <h2>three:</h2><input type="number" name="c">
        <h2>four:</h2><input type="number" name="d">
        <h2>five:</h2><input type="number" name="e">
        <h2>six:</h2><input type="number" name="f">
        <h2>seven:</h2><input type="number" name="g">
        <h2>eight:</h2><input type="number" name="h">
        <h2>nine:</h2><input type="number" name="i">
        <h2>ten:</h2><input type="number" name="j">
        <h2>eleven:</h2><input type="number" name="k">
        <h2>twelve:</h2><input type="number" name="l">
        <h2>thirteen:</h2><input type="number" name="m">
        
        <button type="submit" id="predict">Submit</button>
    </form>
    
</body>
</html>